<template name="leaderboardform">
  <div class="input-field">
    <form>
      <input id="last_name" type="text" name="playerName" class="validate">
      <label for="last_name">Nome do jogador</label>
    </form>
  </div>
</template>

<template name="buttons">
  {{#if selectedPlayer}}
    <h5>Selected Player: {{selectedPlayer.name}}</h5>
    <div class="center">
    <button class="increment waves-effect waves-light btn btn-gray">Ganhar 5 pontos</button>
    <button class="decrement waves-effect waves-light btn btn-gray">Perder 5 pontos</button>
    <button class="remove waves-effect waves-light btn btn-gray">Remover jogador</button>
    </div>
  {{/if}}
</template>
