<template name="todoitem">
  <div class="row">
    <li>
      <div class="col s1" style="margin: 18px auto auto;">
        <input type="checkbox" class="filled-in checkbox" id="{{_id}}" {{checked}}>
        <label for="{{_id}}"></label>
      </div>
      <div class="col s10">
        <input  {{disabled}} type="text" value="{{name}}" class="todoItem {{disabled}}" style="margin: 0px;">
      </div>
      <a href="#" class="delete-todo" style="margin: 18px auto auto; float: left">Delete</a>
    </li>
  </div>
</template>

<template name="todoscount">
  {{#if totaltodos}}
    {{totaltodos}}/{{todoscount}}
  {{/if}}
</template>

<template name="todosform">
  <div class="input-field">
    <form>
      <input id="todo" type="text" name="todoName" class="validate">
      <label for="todo">Create a task</label>
    </form>
  </div>
</template>
