<template name="loginform">
  <div class="card card2">
    <form class="login">
      <h4>Login</h4>
      <div class="input-field">
        <input type="email" name="email">
        <label for="email">Email</label>
      </div>
      <div class="input-field">
        <input type="password" name="password">
        <label for="password">Senha</label>
      </div>
      <p><input type="submit" value="Login" class="increment waves-effect waves-light btn btn-gray"></p>
    </form>
    <div class="grey-text text-darken-1">
      Não tem uma conta?
      <a href="{{pathFor route='reg'}}" class="grey-text text-darken-1"> Cadastre-se!</a>
    </div>
  </div>
</template>

<template name="registerform">
  <div class="card card2">
    <form class="register">
      <h4>Registro</h4>
      <div class="input-field">
        <input type="text" name="name" class="validate">
        <label for="name">Nome</label>
      </div>
      <div class="input-field">
        <input type="email" name="email" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" class="validate">
        <label for="password">Senha</label>
      </div>
      <div class="input-field">
        <input type="password" name="password2" class="validate">
        <label for="password2" >Confirmação da senha</label>
      </div>
      <p><div class="input-field inline">
        <input type="text" name="code" class="validate">
        <label for="code">Código Secreto</label>
      </div>
      <input type="submit" value="OK" class="increment waves-effect waves-light btn btn-gray"></p>
    </form>
    <div class="grey-text text-darken-1">
      <a href="{{pathFor route='log'}}" class="grey-text text-darken-1" style="text-align: left;">Já tem uma conta?</a>
    </div>
  </div>
</template>
