<template name="loginform">
  <div class="card cardlogin">
    <form class="login">
      <h4>Login</h4>
      <div class="input-field">
        <input type="email" name="email">
        <label for="email">Email</label>
      </div>
      <div class="input-field">
        <input type="password" name="password">
        <label for="password">Senha</label>
      </div>
      <p><button type="submit" class="waves-effect waves-light btn">Entrar</button></p>
    </form>
    <div class="grey-text text-darken-1">
      <p style="margin: 0px;">Não tem uma conta?</p>
      <a href="{{pathFor route='reg'}}" class="grey-text text-darken-1"> Cadastre-se!</a>
    </div>
  </div>
</template>

<template name="registerform">
  <div class="card cardlogin">
    <form class="register">
      <h4>Registro</h4>
      <div class="input-field">
        <input type="text" name="name" class="validate">
        <label for="name">Nome</label>
      </div>
      <div class="input-field">
        <input type="email" name="email" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" class="validate">
        <label for="password">Senha</label>
      </div>
      <div class="input-field">
        <input type="password" name="password2" class="validate">
        <label for="password2" >Confirmação da senha</label>
      </div>
      <div class="input-field">
        <input type="text" name="code" class="validate">
        <label for="code">Código Secreto</label>
      </div>
      <p><button type="submit" class="waves-effect waves-light btn">Confirmar</button></p>
    </form>
    <div class="grey-text text-darken-1">
      <p style="margin: 0px;">Já tem uma conta?</p>
      <a href="{{pathFor route='log'}}" class="grey-text text-darken-1" style="text-align: left;">Faça login!</a>
    </div>
  </div>
</template>
